<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar" *ngIf="!isCanva()">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li *ngFor="let menuItem of showMenuByRole()">
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="{{menuItem.class}}">
            <i class="{{menuItem.icon}}"></i> <span>{{menuItem.title}}</span>
          </a>
          
        </li>
        
      </ul>
    </nav>
  </div>
</div>
<!-- END LEFT SIDEBAR -->