<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Profesores</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Asignar Cursos</a></li>
                    <li><a data-toggle="tab" href="#menu1">Listado de profesores</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="search"> 
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let c of ccls | filter:search | paginate: { itemsPerPage: 8, currentPage: p }" class="col-xs-12 col-sm-12 col-md-12">
                                <!-- <div class="metric" > -->
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{c.termino}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngFor="let cu of c.cursos">
                                        <div class="metric" >
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-12 col-lg-12" >
                                                    <p style="text-align: center;">
                                                        <span class="number">{{cu.codigo}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-11 col-md-11 col-lg-11" style="padding-left: 3.6em;">
                                                    <div class="metric3" *ngIf="cu.profesor.length>0">
                                                        <div class="row">
                                                            <div class="col-xs-2 col-sm-2 col-md-2" >
                                                                <button type="button" class="close" (click)="unbindprofesores(cu.id,cu.profesor[0].name,cu.profesor[0].lastname)" style="color: red;"><i class="fa fa-times-circle"></i></button>
                                                            </div>

                                                            <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left: 0;padding-right: 6em;">
                                                                <p style="text-align: center;">
                                                                    <span class="number">{{cu.profesor[0].name}} {{cu.profesor[0].lastname}}</span>
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="metric3" *ngIf="cu.profesor.length==0">

                    
                                                        <p style="text-align: center;" (click)="openModal(cu)">
                                                            <i class="fa fa-plus"></i>
                                                        </p>
                    
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="row"  style="text-align: center;">
                            <div class="col-md-12">
                                <ul >
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="search2"> 
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div *ngFor="let p of profesores | filter:search2 | paginate: { itemsPerPage: 8, currentPage: p2 }" class="col-xs-12 col-sm-6 col-md-6">
                                <div class="metric" style="padding-left: 26px;">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-2 col-lg-2" >
                                            <span (click)="showProf(p)" class="icon"><i class="fa fa-eye"></i></span>
                                        </div>
                                        <div class="col-xs-6 col-md-6 col-lg-6">
                                            <p>
                                                <span class="number">{{p.name}} {{p.lastname}}</span>
                                            </p>
                                        </div>
                                        <div class="col-xs-4 col-md-4 col-lg-4">
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6">
                                                    <span  (click)="editProf(p)" class="icon"><i class="fa fa-pencil"></i></span>
        
                                                </div>
                                                <div class="col-xs-6 col-md-6">
                                                    <span (click)="deleteProf(p)" class="icon"><i class="fa fa-trash"></i></span>
        
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"  style="text-align: center;">
                            <div class="col-md-12">
                                <ul >
                                    <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="row">
                            <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-plus my-float"></i>
                            </a>
                            <a  (click)="add()" class="float" >
                                <i class="fa fa-plus my-float"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
    <!-- END MAIN CONTENT -->
    
</div>
<!-- END MAIN -->

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4  class="modal-title"></h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="close" (click)="close()">&times;</button>

        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" *ngIf="!showLayout && !editLayout && !addLayout">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-auth-small" #profForm="ngForm" (ngSubmit)="attachProfToCourse()">
                                <div class="form-group">
                                    <input
                                        type="hidden"
                                        name="id"
                                        [(ngModel)]="addProfesorForm.id"
                                    />
                                </div>
                                Seleccionar Profesor
                                <div class="form-group">
                                    <select  class="form-control" #profId="ngModel" name="profId" [(ngModel)]="addProfesorForm.profId" required>
                                        <option value=null>Elegir un Profesor</option>
                                        <option *ngFor="let p of profesores" [value]="p.id">{{p.name}} {{p.lastname}}</option>
                                    </select>
                                </div>
                                
                                <!-- <div class="form-group clearfix  b >
                                    <label class="fancy-checkbox element-left">
                                        <input type="checkbox">
                                        <span>Remember me</span>
                                    </label>
                                </div> -->
                                <button *ngIf="!loadingSaving" [disabled]="!profForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                                <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
        
                                <!-- <div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                                </div> -->
                            </form>

                        </div>
                        <div class="col-md-6" #courses>
                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <h5>Crear y asignar nuevo Profesor</h5>
                                </div>
                            </div>
                            <div class="row">
                                <form class="form-auth-small" #newProfForm="ngForm" (ngSubmit)="newprofesorToCurso()">

                                    <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                        <button type="button" class="close close4" (click)="closeNewCourseForm()"><i class="fa fa-times-circle"></i></button>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8" style="padding-left: 0;">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6" style="padding-left: 0;">
                                                <div class="form-group">
                                                    <label for="codigo" class="control-label sr-only">Nombres</label>
                                                    <input   type="text" class="form-control" id="codigo"  placeholder="Nombres" #name="ngModel" name="name" [(ngModel)]="newProfesorForm.name" required>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;">
                                                <div class="form-group">
                                                    <label for="ciclo-descripcion" class="control-label sr-only">Apellidos</label>
                                                    <input type="text" class="form-control" id="ciclo-descripcion" placeholder="Apellidos"   #lastname="ngModel" name="lastname" [(ngModel)]="newProfesorForm.lastname" required>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6" style="padding-left: 0;">
                                                <div class="form-group">
                                                    <label for="codigo" class="control-label sr-only">Correo</label>
                                                    <input   type="text" class="form-control" id="codigo"  placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="newProfesorForm.email" required>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;">
                                                <div class="form-group">
                                                    <label for="ciclo-descripcion" class="control-label sr-only">Telefono</label>
                                                    <input type="text" class="form-control" id="ciclo-descripcion" placeholder="Telefono"   #telefono="ngModel" name="telefono" [(ngModel)]="newProfesorForm.telefono" required>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                        <button *ngIf="!loadingSaving2" [disabled]="!newProfForm.valid" type="submit" class="close add2" ><i class="fa fa-check-circle"></i></button>
                                        <button *ngIf="loadingSaving2" class="close add2" disabled="disabled"><i class="fa fa-spinner fa-spin"></i></button>
                                    </div>
                                </form>

                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="panel-body" *ngIf="showLayout || editLayout || addLayout">
                    <form class="form-auth-small" #showProfForm="ngForm" (ngSubmit)="submitProf()">
                        Nombres
                        <div class="form-group">
                            <input
                                type="hidden"
                                name="id"
                                [(ngModel)]="profForm.id"
                            />
                            <label for="ciclo-nombres" class="control-label sr-only">Nombres</label>
                            <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-nombres"  placeholder="Nombres" #name="ngModel" name="name" [(ngModel)]="profForm.name" required>
                        </div>
                        Apellidos
                        <div class="form-group">
                            <label for="ciclo-apellidos" class="control-label sr-only">Apellidos</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-apellidos" placeholder="Apellidos" #lastname="ngModel" name="lastname" [(ngModel)]="profForm.lastname" required>
                            
                        </div>
                        Correo
                        <div class="form-group">
                            <label for="ciclo-correo" class="control-label sr-only">Correo</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-correo" placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="profForm.email" required>
                            
                        </div>
                        Teléfono
                        <div class="form-group">
                            <label for="ciclo-telefono" class="control-label sr-only">Teléfono</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-telefono" placeholder="Teléfono" #telefono="ngModel" name="telefono" [(ngModel)]="profForm.telefono" required>
                            
                        </div>
                        
                        <!-- <div class="form-group clearfix  b >
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div> -->
                        <button *ngIf="!showLayout && !loadingSaving" [disabled]="!showProfForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>

                        <!-- <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                        </div> -->
                    </form>
                    
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
</div>