<div class="vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="auth-box ">
            <div class="left">
                <div class="content">
                    <div class="header">
                        <div class="logo text-center"><img src="assets/img/logoug.png" style="width: 50%;" alt="Klorofil Logo"></div>
                        <p class="lead">Accede a tu cuenta</p>
                    </div>
                    <form class="form-auth-small" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="signin-email" class="control-label sr-only">Email</label>
                            <input (keyup)="validateEmailLoginForm($event)" type="email" class="form-control" id="signin-email" placeholder="Email" #email="ngModel" name="email" [(ngModel)]="form.email" required>
                            <p *ngIf="!loginEmailValid" style="color: red; font-size: 1em;">Ingresar un correo válido.</p>
                        </div>
                        <div class="form-group">
                            <label for="signin-password" class="control-label sr-only">Password</label>
                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="signin-password" placeholder="Contraseña" #password="ngModel" name="password" [(ngModel)]="form.password" required>
                            <button type="button" 
                            (click)="toggleFieldTextType()"
                            class="btn btn-default btn-xs shadow-none">
                                <i class="fa fa-eye" style="font-size: 1.2rem;" aria-hidden="true"></i>
                                Ver contraseña
                            </button>
                            
                        </div>
                        <!-- <div class="form-group clearfix  b >
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div> -->
                        <button *ngIf="!loadingLogin" [disabled]="!loginForm.valid || !loginEmailValid" type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                        <button *ngIf="loadingLogin" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                        <p *ngIf="errorLogin" style="color: red;font-weight: 1em;">Correo o contraseña incorrectos.</p>
                        <p *ngIf="servererr" style="color: red;font-weight: 1em;">Hubo un error, intente más tarde.</p>

                        <!-- <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="overlay"></div>
                <div class="content text">
                    <h1 class="heading">Laboratorio de Simulación de Redes</h1>
                    <p>Universidad de Guayaquil</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>