<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Ciclos</h3>
                <!-- <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Open modal
                </button>
                
                <button class="btn pmd-btn-fab pmd-ripple-effect btn-light" type="button"><i class="material-icons pmd-sm">add</i></button> -->
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="search"> 
                    </div>
                </div>
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <div *ngFor="let c of ccls | filter:search | paginate: { itemsPerPage: 8, currentPage: p }" class="col-xs-12 col-sm-6 col-md-6">
                        <div class="metric">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-lg-4" >
                                    <span (click)="show(c)" class="icon"><i class="fa fa-eye"></i></span>
                                </div>
                                <div class="col-xs-4 col-md-4 col-lg-4">
                                    <p>
                                        <span class="number">{{c.termino}}</span>
                                        <span class="title">{{c.ano_lectivo}}</span>
                                    </p>
                                </div>
                                <div class="col-xs-4 col-md-4 col-lg-4">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <span (click)="edit(c)" class="icon"><i class="fa fa-pencil"></i></span>

                                        </div>
                                        <div class="col-xs-6 col-md-6">
                                            <span (click)="delete(c)" class="icon"><i class="fa fa-trash"></i></span>

                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"  style="text-align: center;">
                    <div class="col-md-12">
                        <ul >
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary float-right">Primary</button> -->
        </div>
        <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus my-float"></i>
        </a>
        <a   class="float" (click)="add()">
            <i class="fa fa-plus my-float"></i>
        </a>

        <!-- <a class="btn-floating btn-lg btn-default"><i class="fas fa-bolt"></i></a> -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
    
</div>
<!-- END MAIN -->
  
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4 *ngIf="!form.id" class="modal-title">Nuevo ciclo</h4>
                <h4 *ngIf="editLayout" class="modal-title">Editar ciclo {{form.termino}} - {{form.ano_lectivo}}</h4>
                <h4 *ngIf="showLayout" class="modal-title">{{form.termino}} - {{form.ano_lectivo}}</h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="close" (click)="close()">&times;</button>

        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" *ngIf="!showLayout">
                    <form class="form-auth-small" #ciclosForm="ngForm" (ngSubmit)="saveCiclos()">
                        Término
                        <div class="form-group">
                            <input
                                type="hidden"
                                name="id"
                                [(ngModel)]="form.id"
                            />
                            <label for="ciclo-termino" class="control-label sr-only">Término</label>
                            <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-termino"  placeholder="Término" #termino="ngModel" name="termino" [(ngModel)]="form.termino" required>
                        </div>
                        Año Lectivo
                        <div class="form-group">
                            <label for="ciclo-ano-lectivo" class="control-label sr-only">Año Lectivo</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Año Lectivo" #ano_lectivo="ngModel" name="ano_lectivo" [(ngModel)]="form.ano_lectivo" required>
                            
                        </div>
                        Descripción
                        <div class="form-group">
                            <label for="ciclo-descripcion" class="control-label sr-only">Descripción</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-descripcion" placeholder="Descripción" #descripcion="ngModel" name="descripcion" [(ngModel)]="form.descripcion" required>
                            
                        </div>
                        Fecha Inicio (mm/dd/yy)
                        <div class="form-group">
                            <label for="ciclo-fecha-inicio" class="control-label sr-only">Fecha Inicio</label>
                            <input [disabled]="showLayout" type="date" class="form-control" id="ciclo-fecha-inicio"  #fechaIncio="ngModel" name="fechaIncio" [(ngModel)]="form.fechaIncio" required>
                            
                        </div>
                        Fecha Fin (mm/dd/yy)
                        <div class="form-group">
                            <label for="ciclo-fecha-fin" class="control-label sr-only">Fecha Fin</label>
                            <input [disabled]="showLayout" type="date" class="form-control" id="ciclo-fecha-fin" placeholder="Fecha Fin" #fechaFin="ngModel" name="fechaFin" [(ngModel)]="form.fechaFin" required>
                            
                        </div>
                        
                        <!-- <div class="form-group clearfix  b >
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div> -->
                        <button *ngIf="!showLayout && !loadingSaving" [disabled]="!ciclosForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>

                        <!-- <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                        </div> -->
                    </form>
                    
                </div>
                <div class="panel-body" *ngIf="showLayout">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-auth-small" #ciclosForm="ngForm" (ngSubmit)="saveCiclos()">
                                Término
                                <div class="form-group">
                                    <input
                                        type="hidden"
                                        name="id"
                                        [(ngModel)]="form.id"
                                    />
                                    <label for="ciclo-termino" class="control-label sr-only">Término</label>
                                    <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-termino"  placeholder="Término" #termino="ngModel" name="termino" [(ngModel)]="form.termino" required>
                                </div>
                                Año Lectivo
                                <div class="form-group">
                                    <label for="ciclo-ano-lectivo" class="control-label sr-only">Año Lectivo</label>
                                    <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Año Lectivo" #ano_lectivo="ngModel" name="ano_lectivo" [(ngModel)]="form.ano_lectivo" required>
                                    
                                </div>
                                Descripción
                                <div class="form-group">
                                    <label for="ciclo-descripcion" class="control-label sr-only">Descripción</label>
                                    <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-descripcion" placeholder="Descripción" #descripcion="ngModel" name="descripcion" [(ngModel)]="form.descripcion" required>
                                    
                                </div>
                                Fecha Inicio (mm/dd/yy)
                                <div class="form-group">
                                    <label for="ciclo-fecha-inicio" class="control-label sr-only">Fecha Inicio</label>
                                    <input [disabled]="showLayout" type="date" class="form-control" id="ciclo-fecha-inicio"  #fechaIncio="ngModel" name="fechaIncio" [(ngModel)]="form.fechaIncio" required>
                                    
                                </div>
                                Fecha Fin (mm/dd/yy)
                                <div class="form-group">
                                    <label for="ciclo-fecha-fin" class="control-label sr-only">Fecha Fin</label>
                                    <input [disabled]="showLayout" type="date" class="form-control" id="ciclo-fecha-fin" placeholder="Fecha Fin" #fechaFin="ngModel" name="fechaFin" [(ngModel)]="form.fechaFin" required>
                                    
                                </div>
                                
                                <!-- <div class="form-group clearfix  b >
                                    <label class="fancy-checkbox element-left">
                                        <input type="checkbox">
                                        <span>Remember me</span>
                                    </label>
                                </div> -->
                                <button *ngIf="!showLayout && !loadingSaving" [disabled]="!ciclosForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                                <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
        
                                <!-- <div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                                </div> -->
                            </form>

                        </div>
                        <div class="col-md-6" #courses>
                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <h5>Cursos</h5>
                                </div>
                                <div class="col-sm-4 col-md-4" style="position: relative;">
                                    <button type="button" class="close close2" (click)="addCourse()"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-md-10" >
                                    <div class="row" *ngFor="let c of showCourse | paginate: { itemsPerPage: 5, currentPage: p2 }">
                                        <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                            <button type="button" class="close close3" (click)="unbindCiclo(c)"><i class="fa fa-times-circle"></i></button>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left: 0;">
                                            <div class="metric metric2">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                                        <p style="text-align: center;">
                                                            <span class="number">{{c.codigo}}</span>
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row metric2" *ngIf="showCourseListForm">
                                <div class="col-sm-10 col-md-10" >
                                    <div class="row">
                                        <div class="col-sm-8 col-md-8">
                                            <h5>Asignar curso al ciclo</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <form class="form-auth-small" #addCForm="ngForm" (ngSubmit)="attachCourseToCiclo()">
                                            
                                            <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                                <button type="button" class="close close3" (click)="closeShowCourseListForm()"><i class="fa fa-times-circle"></i></button>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8" style="padding-right: 0;padding-left: 0;">
                                                
                                                <div class="form-group">
                                                    <input
                                                        #id="ngModel"
                                                        type="hidden"
                                                        name="id"
                                                        [(ngModel)]="addCourseForm.id"
                                                    />
                                                    <select class="form-control" (change)="evt($event.target.value)" #courseid="ngModel" name="courseid" [(ngModel)]="addCourseForm.courseid" required>
                                                        <option value=null>Elegir un curso</option>
                                                        <option *ngFor="let c of filteredCourses" [value]="c.id">{{c.codigo}}</option>
                                                        <option value="new">Nuevo Curso</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                                <button type="submit" class="close add"><i class="fa fa-check-circle"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row metric2" *ngIf="showNewCourseForm">
                                <div class="col-sm-10 col-md-10" >
                                    <div class="row">
                                        <form class="form-auth-small" #courseForm="ngForm" (ngSubmit)="newCourseToCiclo()">

                                            <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                                <button type="button" class="close close3" (click)="closeNewCourseForm()"><i class="fa fa-times-circle"></i></button>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8" >
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6" style="padding-left: 0;">
                                                        <div class="form-group">
                                                            <input
                                                                type="hidden"
                                                                name="id"
                                                                [(ngModel)]="newCourseForm.id"
                                                            />
                                                            <label for="codigo" class="control-label sr-only">Término</label>
                                                            <input   type="text" class="form-control" id="codigo"  placeholder="Código" #codigo="ngModel" name="codigo" [(ngModel)]="newCourseForm.codigo" required>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;">
                                                        <div class="form-group">
                                                            <label for="ciclo-descripcion" class="control-label sr-only">Descripción</label>
                                                            <input type="text" class="form-control" id="ciclo-descripcion" placeholder="Descripción"   #descripcion="ngModel" name="descripcion" [(ngModel)]="newCourseForm.descripcion" required>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                                <button type="submit" class="close add" ><i class="fa fa-check-circle"></i></button>
                                            </div>
                                        </form>

                                        
                                    </div>
                                </div>
                            </div>

                            <div class="row"  >
                                <div class="col-sm-12 col-md-12">
                                    <ul style="padding-inline-start:0px !important">
                                        <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                                    </ul>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
</div>