.metric p{
    text-align: left;
}

.metric .icon{
    background-color: transparent;
    // color: black !important;
    width: 30%;
    height: 30%;
    text-align: right;
}

.metric .icon i {
    color: black;
    font-size: 15px;

}

.metric{
    padding: 5px;
    border-radius: 24px;
}

.panel{
    // height: 32em;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#00AAFF;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}

.modal-body {
    padding: 0px;
}

.modal-header{
    position: relative;
}

.vertical-center {
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.metric .title {
    font-size: 15px;
}

.metric .number {
    font-size: 20px;
}

.close2{
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.close3{
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(30%);
  transform: translateY(30%);
  color: red;
}

.close4{
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(30%);
  transform: translateY(135%);
  color: red;
}

.add{
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(30%);
  transform: translateY(30%);
  color: green;
}

.add2{
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(30%);
  transform: translateY(125%);
  color: green;
}

.modal-dialog {
    width: 50em;

}

.metric2{
    margin-bottom: 15px !important;
}