<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Califaciones</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="search"> 
                    </div>
                </div>
                <div *ngFor="let c of ccls | filter:search | paginate: { itemsPerPage: 8, currentPage: p }" class="col-xs-12 col-sm-12 col-md-12">
                    <!-- <div class="metric" > -->
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{c.termino}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let cu of c.cursos | filter:search">
                            <div class="metric" >
                                <div class="row" >
                                    <div class="col-xs-12 col-md-12 col-lg-12" >
                                        <p style="text-align: center;">
                                            <span class="number">{{cu.codigo}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <p style="text-align: center;margin-top: 15px;">
                                            <span class="title">Laboratorios</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <ng-container *ngIf="cu.laboratorios.length>0">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngFor="let e of cu.laboratorios | filter:search">
                                            <div class="metric3" >
                                                <div class="row">
                                                   
                                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
                                                        <p style="text-align: center;">
                                                            <span class="title">{{e.nombre}}</span>
                                                        </p>
                                                        
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="row">
                                                            <div class="col-xs-4 col-md-4 col-lg-4" >
                                                                <span class="icon"><i class="fa fa-eye"></i></span>
                                                            </div>
                                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                                <span  class="icon"><i class="fa fa-pencil"></i></span>
                    
                                                            </div>
                                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                                <span  class="icon"><i class="fa fa-trash"></i></span>
                    
                                                            </div>
                                                        </div>
                            
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 1em;">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12" >
                                                            <p style="text-align: center;">
                                                                <span class="title">Actividades</span>
                                                            </p>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngFor="let act of e.actividades | filter:search">
                                                            <div class="metric3" >
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                                                                        <p style="text-align: center;">
                                                                            <span class="title">{{act.nombre}}</span>
                                                                        </p>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            
                                        </div>
                                    </ng-container>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row"  style="text-align: center;">
                    <div class="col-md-12">
                        <ul >
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </ul>
                    </div>
                    
                </div>
                <div class="row">
                    <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus my-float"></i>
                    </a>
                    <a  id="openActividadModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myActividadModal">
                        <i class="fa fa-plus my-float"></i>
                    </a>
                </div>
            </div>
        </div>
        
      </div>
    </div>
    <!-- END MAIN CONTENT -->
    
</div>
<!-- END MAIN -->

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4  class="modal-title">Nuevo Laboratorio</h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="close" (click)="close()">&times;</button>

        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" >
                    <form class="form-auth-small" #showProfForm="ngForm" (ngSubmit)="saveLab()">
                        Nombre
                        <div class="form-group">
                            <input
                                type="hidden"
                                name="id"
                                [(ngModel)]="lab.id"
                            />
                            <label for="ciclo-nombres" class="control-label sr-only">Nombre</label>
                            <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-nombres"  placeholder="Nombre" #nombre="ngModel" name="nombre" [(ngModel)]="lab.nombre" required>
                        </div>
                        Descripcion
                        <div class="form-group">
                            <label for="ciclo-desc" class="control-label sr-only">Descripción</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-desc" placeholder="Descripción" #descripcion="ngModel" name="descripcion" [(ngModel)]="lab.descripcion" required>
                            
                        </div>
                        Calificación
                        <div class="form-group">
                            <label for="ciclo-calificacion" class="control-label sr-only">Calificación</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-calificacion" placeholder="Calificación" #calificacion="ngModel" name="calificacion" [(ngModel)]="lab.calificacion" required>
                            
                        </div>
                        Activo
                        <div class="form-group">
                            <label for="ciclo-activo" class="control-label sr-only">Activo</label>
                            <input type="checkbox" value="true" id="ciclo-activo" #activo="ngModel" name="activo" [(ngModel)]="lab.activo" />                            
                        </div>
                        
                        <!-- <div class="form-group clearfix  b >
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div> -->
                        <button *ngIf="!showLayout && !loadingSaving" [disabled]="!showProfForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>

                        <!-- <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                        </div> -->
                    </form>
                    
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
</div>



<!-- The Modal -->
<div class="modal" id="myActividadModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4  class="modal-title">Nueva Actividad</h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="myActividadModal">&times;</button>
            <button type="button" class="close" (click)="closeActividad()">&times;</button>

        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" >
                    <form class="form-auth-small" #activForm="ngForm" (ngSubmit)="saveActividad()">
                        Nombres
                        <div class="form-group">
                            <input
                                type="hidden"
                                name="id"
                                [(ngModel)]="actividad.id"
                            />
                            <label for="ciclo-nombres" class="control-label sr-only">Nombre</label>
                            <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-nombres"  placeholder="Nombre" #nombre="ngModel" name="nombre" [(ngModel)]="actividad.nombre" required>
                        </div>
                        Descripcion
                        <div class="form-group">
                            <label for="ciclo-desc" class="control-label sr-only">Descripción</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-desc" placeholder="Descripción" #descripcion="ngModel" name="descripcion" [(ngModel)]="actividad.descripcion" required>
                            
                        </div>
                        Puntaje
                        <div class="form-group">
                            <label for="ciclo-calificacion" class="control-label sr-only">Calificación</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-calificacion" placeholder="Calificación" #calificacion="ngModel" name="calificacion" [(ngModel)]="actividad.puntaje" required>
                            
                        </div>
                        <!-- Fecha de Vencimiento -->
                        <!-- <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                        </div> -->
                        <!-- <div class="input-group">
                            <input class="form-control" ngbDatepicker type="text" #d="ngbDatepicker"  [(ngModel)]="actividad.fecha_vencimiento" />
                            <span (click)="d.toggle()" class="input-group-addon calendar"><i class="fa fa-calendar"></i></span>                                        
                        </div> -->
                        Fecha de Completación
                        <div class="form-group">
                            <label for="ciclo-activo" class="control-label sr-only">Fecha Vencimiento</label>
                            <input type="date" id="ciclo-activo" placeholder="mm-dd-yyyy" #fecha_completo="ngModel" name="fecha_completo" [(ngModel)]="actividad.fecha_completo" required/>                            
                        </div>
                        
                        Fecha de Vencimiento
                        <div class="form-group">
                            <label for="ciclo-vencimiento" class="control-label sr-only">Fecha Vencimiento</label>
                            <input type="date" id="ciclo-vencimiento" placeholder="mm-dd-yyyy" #fecha_vencimiento="ngModel" name="fecha_vencimiento" [(ngModel)]="actividad.fecha_vencimiento" required/>                            
                        </div>
                        
                        <!-- <div class="form-group clearfix  b >
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div> -->
                        <button *ngIf="!showLayout && !loadingSaving" [disabled]="!activForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>

                        <!-- <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                        </div> -->
                    </form>
                    
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeActividad()">Close</button>
        </div>
  
      </div>
    </div>
</div>