
<!-- WRAPPER -->
<app-header *ngIf="showHeader()"></app-header>
<app-side-menu *ngIf="showSideMenu()"></app-side-menu>
<app-left-window *ngIf="showSideMenu()"></app-left-window>
<router-outlet></router-outlet>
<app-right-window *ngIf="showSideMenu()"></app-right-window>
<app-footer *ngIf="showFooter()"></app-footer>
