<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Cursos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="search"> 
                    </div>
                </div>
                <div *ngFor="let c of ccls | filter:search | paginate: { itemsPerPage: 8, currentPage: p }" class="col-xs-12 col-sm-12 col-md-12">
                    <!-- <div class="metric" > -->
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{c.termino}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let cu of c.cursos">
                            <div class="metric" >
                                <div class="row" >
                                    <div class="col-xs-12 col-md-12 col-lg-12" >
                                        <p style="text-align: center;">
                                            <span class="number">{{cu.codigo}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <ng-container *ngIf="cu.estudiantes.length>0">
                                        <div class="col-xs-6 col-md-6 col-lg-6" *ngFor="let e of cu.estudiantes">
                                            <div class="metric3" >
                                                <div class="row">
                                                    <div class="col-xs-2 col-md-2 col-lg-2" >
                                                        <span (click)="showEstudiante(e)" class="icon"><i class="fa fa-eye"></i></span>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left: 0;">
                                                        <p style="text-align: center;">
                                                            <span class="number">{{e.name}} {{e.lastname}}</span>
                                                            <span class="title">{{e.email}}</span>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row"  style="text-align: center;">
                    <div class="col-md-12">
                        <ul >
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </ul>
                    </div>
                    
                </div>
                <div class="row">
                    <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus my-float"></i>
                    </a>
                </div>
            </div>
        </div>
        
      </div>
    </div>
    <!-- END MAIN CONTENT -->
    
</div>
<!-- END MAIN -->


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4  class="modal-title">{{est.name}} {{est.lastname}}</h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="close" (click)="close()">&times;</button>

        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" >
                    <form class="form-auth-small" #showProfForm="ngForm" >
                        Nombres
                        <div class="form-group">
                            <input
                                type="hidden"
                                name="id"
                                [(ngModel)]="est.id"
                            />
                            <label for="ciclo-nombres" class="control-label sr-only">Nombres</label>
                            <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-nombres"  placeholder="Nombres" #name="ngModel" name="name" [(ngModel)]="est.name" required>
                        </div>
                        Apellidos
                        <div class="form-group">
                            <label for="ciclo-apellidos" class="control-label sr-only">Apellidos</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-apellidos" placeholder="Apellidos" #lastname="ngModel" name="lastname" [(ngModel)]="est.lastname" required>
                            
                        </div>
                        Correo
                        <div class="form-group">
                            <label for="ciclo-correo" class="control-label sr-only">Correo</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-correo" placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="est.email" required>
                            
                        </div>
                        Teléfono
                        <div class="form-group">
                            <label for="ciclo-telefono" class="control-label sr-only">Teléfono</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-telefono" placeholder="Teléfono" #telefono="ngModel" name="telefono" [(ngModel)]="est.telefono" required>
                            
                        </div>
                        
                        <!-- <div class="form-group clearfix  b >
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div> -->

                        <!-- <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                        </div> -->
                    </form>
                    
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
</div>