<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Estudiantes</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Asignar Curso</a></li>
                    <li><a data-toggle="tab" href="#menu1">Listado de Estudiantes</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="search"> 
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let c of ccls | filter:search | paginate: { itemsPerPage: 8, currentPage: p }" class="col-xs-12 col-sm-12 col-md-12">
                                <!-- <div class="metric" > -->
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{c.termino}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let cu of c.cursos">
                                        <div class="metric" >
                                            <div class="row" >
                                                <div class="col-xs-12 col-md-12 col-lg-12" >
                                                    <p style="text-align: center;" *ngIf="cu.profesor.length>0">
                                                        <span class="number">{{cu.codigo}} - {{cu.profesor[0].name}} {{cu.profesor[0].lastname}}</span>
                                                    </p>
                                                    <p style="text-align: center;" *ngIf="cu.profesor.length==0">
                                                        <span class="number">{{cu.codigo}} - Sin Profesor</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <ng-container *ngIf="cu.estudiantes.length>0">
                                                    <div class="col-xs-6 col-md-6 col-lg-6" *ngFor="let e of cu.estudiantes">
                                                        <div class="metric3" >
                                                            <div class="row">
                                                                <div class="col-xs-2 col-sm-2 col-md-2" >
                                                                    <button type="button" class="close" (click)="detachStudentCourse(e)" style="color: red;"><i class="fa fa-times-circle"></i></button>
                                                                </div>
    
                                                                <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left: 0;padding-right: 6em;">
                                                                    <p style="text-align: center;">
                                                                        <span class="number">{{e.name}} {{e.lastname}}</span>
                                                                    </p>
                                                                </div>
                                                            </div>
    
                                                        </div>
                                                        
                                                    </div>
                                                </ng-container>
                                                
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="cu.estudiantes.length>0">
                                                    <div class="metric3" >
                                                        <p style="text-align: center;" (click)="addEstudiante(cu)">
                                                            <i class="fa fa-plus"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12" *ngIf="cu.estudiantes.length==0">
                                                    <div class="metric3" >
                                                        <p style="text-align: center;" (click)="addEstudiante(cu)">
                                                            <i class="fa fa-plus"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="row"  style="text-align: center;">
                            <div class="col-md-12">
                                <ul >
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="search2"> 
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div *ngFor="let p of estudiantes | filter:search2 | paginate: { itemsPerPage: 8, currentPage: p2 }" class="col-xs-12 col-sm-6 col-md-6">
                                <div class="metric" style="padding-left: 26px;">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-2 col-lg-2" >
                                            <span (click)="showEstudiante(p)" class="icon"><i class="fa fa-eye"></i></span>
                                        </div>
                                        <div class="col-xs-6 col-md-6 col-lg-6">
                                            <p>
                                                <span class="number">{{p.name}} {{p.lastname}}</span>
                                                <span class="title">{{p.email}}</span>

                                            </p>
                                        </div>
                                        <div class="col-xs-4 col-md-4 col-lg-4">
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6">
                                                    <span (click)="editEstudiante(p)" class="icon"><i class="fa fa-pencil"></i></span>
        
                                                </div>
                                                <div class="col-xs-6 col-md-6">
                                                    <span (click)="deleteProf(p)" class="icon"><i class="fa fa-trash"></i></span>
        
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"  style="text-align: center;">
                            <div class="col-md-12">
                                <ul >
                                    <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="row">
                            <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-plus my-float"></i>
                            </a>
                            <a  (click)="add()" class="float" >
                                <i class="fa fa-plus my-float"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
    <!-- END MAIN CONTENT -->
    
</div>
<!-- END MAIN -->

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4  class="modal-title">{{curso.codigo}}</h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="close" (click)="close()">&times;</button>

        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" *ngIf="!showLayout && !editLayout && !addLayout">
                    <div class="row">
                        <div class="col-sm-8 col-md-8">
                            <h5>Estudiantes</h5>
                        </div>
                        <div class="col-sm-4 col-md-4" style="position: relative;">
                            <button type="button" class="close close2" (click)="addStudent()"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10" >
                            <div class="row" *ngFor="let e of curso.estudiantes | paginate: { itemsPerPage: 5, currentPage: p2 }">
                                <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                    <button type="button" class="close close3" ><i class="fa fa-times-circle"></i></button>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10" style="padding-left: 0;">
                                    <div class="metric metric2">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12 col-lg-12">
                                                <p style="text-align: center;">
                                                    <span class="number">{{e.name}} {{e.lastname}}</span>
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row metric2" *ngIf="showStudentListForm">
                        <div class="col-sm-10 col-md-10" >
                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <h5>Asignar estudiantes al curso</h5>
                                </div>
                            </div>
                            <div class="row">
                                
                                <form class="form-auth-small" #addEstForm="ngForm" (ngSubmit)="attachStudentToCourse()">
                                    
                                    <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                        <button type="button" class="close close3" (click)="closeShowCourseListForm()"><i class="fa fa-times-circle"></i></button>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8" style="padding-right: 0;padding-left: 0;">
                                        
                                        <div class="form-group">
                                            <input
                                                #id="ngModel"
                                                type="hidden"
                                                name="id"
                                                [(ngModel)]="addStudentForm.id"
                                            />
                                            <select class="form-control" (change)="evt($event.target.value)" #courseid="ngModel" name="courseid" [(ngModel)]="addStudentForm.studentId" required>
                                                <option value=null>Elegir un Estudiante</option>
                                                <option *ngFor="let e of estudiantes" [value]="e.id">{{e.name}} {{e.lastname}} - {{e.email}}</option>
                                                <option value="new">Nuevo Estudiante</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                        <button *ngIf="!loadingSaving2" [disabled]="!addEstForm.valid" type="submit" class="close add" ><i class="fa fa-check-circle"></i></button>

                                        <button *ngIf="loadingSaving2" class="close add2" disabled="disabled"><i class="fa fa-spinner fa-spin"></i></button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row metric2" *ngIf="showNewCourseForm">
                        <div class="col-sm-10 col-md-10" >
                            <div class="row">
                                <form class="form-auth-small" #courseForm="ngForm" (ngSubmit)="newCourseToCiclo()">

                                    <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                        <button type="button" class="close close3" (click)="closeNewCourseForm()"><i class="fa fa-times-circle"></i></button>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8" >
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6" style="padding-left: 0;">
                                                <div class="form-group">
                                                    <input
                                                        type="hidden"
                                                        name="id"
                                                        [(ngModel)]="newCourseForm.id"
                                                    />
                                                    <label for="codigo" class="control-label sr-only">Término</label>
                                                    <input   type="text" class="form-control" id="codigo"  placeholder="Código" #codigo="ngModel" name="codigo" [(ngModel)]="newCourseForm.codigo" required>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;">
                                                <div class="form-group">
                                                    <label for="ciclo-descripcion" class="control-label sr-only">Descripción</label>
                                                    <input type="text" class="form-control" id="ciclo-descripcion" placeholder="Descripción"   #descripcion="ngModel" name="descripcion" [(ngModel)]="newCourseForm.descripcion" required>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2" style="position: relative;">
                                        <button type="submit" class="close add" ><i class="fa fa-check-circle"></i></button>
                                    </div>
                                </form>

                                
                            </div>
                        </div>
                    </div>
                    <div class="row"  >
                        <div class="col-sm-12 col-md-12">
                            <ul style="padding-inline-start:0px !important">
                                <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="panel-body" *ngIf="showLayout || editLayout || addLayout">
                    <form class="form-auth-small" #showProfForm="ngForm" (ngSubmit)="submitProf()">
                        Nombres
                        <div class="form-group">
                            <input
                                type="hidden"
                                name="id"
                                [(ngModel)]="estForm.id"
                            />
                            <label for="ciclo-nombres" class="control-label sr-only">Nombres</label>
                            <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-nombres"  placeholder="Nombres" #name="ngModel" name="name" [(ngModel)]="estForm.name" required>
                        </div>
                        Apellidos
                        <div class="form-group">
                            <label for="ciclo-apellidos" class="control-label sr-only">Apellidos</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-apellidos" placeholder="Apellidos" #lastname="ngModel" name="lastname" [(ngModel)]="estForm.lastname" required>
                            
                        </div>
                        Correo
                        <div class="form-group">
                            <label for="ciclo-correo" class="control-label sr-only">Correo</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-correo" placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="estForm.email" required>
                            
                        </div>
                        Teléfono
                        <div class="form-group">
                            <label for="ciclo-telefono" class="control-label sr-only">Teléfono</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-telefono" placeholder="Teléfono" #telefono="ngModel" name="telefono" [(ngModel)]="estForm.telefono" required>
                            
                        </div>
                        
                        <!-- <div class="form-group clearfix  b >
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div> -->
                        <button *ngIf="!showLayout && !loadingSaving" [disabled]="!showProfForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>

                        <!-- <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                        </div> -->
                    </form>
                    
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
</div>
