.tools{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    float: left;
    background-color: #2B333E;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.canvas{
    // margin-top: 5em;
    // width: 100%;
    // height: 78%;
    padding: 0;
}
.sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 350px !important;
    height: auto !important;
    float: left;
    background-color: white !important;
    position: fixed;
    left: 0;
    z-index: 1000;
}

#menu {
    display: none;
    position: absolute;
    width: 60px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#menu button:hover {
background-color: lightgray;    
}

#menu2 {
    display: none;
    position: absolute;
    width: 60px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#menu2 button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#menu2 button:hover {
background-color: lightgray;    
}

#menu3 {
    display: none;
    position: absolute;
    width: 80px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#menu3 button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#menu3 button:hover {
background-color: lightgray;    
}
