
<!-- LEFT SIDEBAR -->
<div  class="sidebar" *ngIf="isCanva()" style="    top: 8em;">
    <div class="sidebar-scroll">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-headline" style="margin-bottom: 0 !important;">
                    <div class="panel-heading">
                            <button type="button" (click)="return()" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i>Regresar</button>
                        <p class="panel-title">{{lab.curso.codigo}} - {{lab.nombre}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;" #canvaContainer>
    <!-- <canvas #canvas class="canvas" ></canvas> -->
    <div id="container"></div>
</div>
<!-- END Right SIDEBAR -->
<div  class="tools" #canvaTool>
    <div class="sidebar-scroll">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-headline" style="margin-bottom: 0 !important;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-1" style="text-align: center;" (click)="linkNodes()">
                                <img src="assets/img/link.png" style="width: 80%;" alt="Klorofil Logo">
                                <p>Conectar</p>
                            </div>
                            <div class="col-md-1" style="text-align: center;" (click)="addRouterc7200()">
                                <img src="assets/img/router.png" style="width: 70%;" alt="Klorofil Logo">
                                <p>c7200</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="menu">
    <div>
      <button id="pulse-button" *ngFor="let p of ports.ports" [disabled]="getPortUsed(p,ports)" (click)="selectPort(p,ports)">{{p.short_name}}</button>
      <button id="delete-button" (click)="cancelLink()">Cerrar</button>
    </div>
</div>

<div id="menu2">
    <div>
      <button id="delete-button" (click)="unLink()">Eliminar</button>
    </div>
</div>

<div id="menu3">
    <div *ngIf="node.data">
      <button id="delete-button" (click)="turnOnNode()" *ngIf="node.data.status=='stopped'">Encender</button>
      <button id="delete-button" (click)="turnOffNode()" *ngIf="node.data.status=='started'">Apagar</button>
      <button id="delete-button" (click)="showConsole()">Consola</button>
      <button id="delete-button" (click)="deleteNode()">Eliminar</button>
      <button id="delete-button" (click)="closeNodeMenu()">Cerrar</button>
    </div>
</div>